.first-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.first-section-content {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}

.nil-container {
  width: 45%;
}

.nil-table {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.nil-table-wrapper {
  max-height: 300px;
  overflow-x: hidden;
}

/* .table-filter::-webkit-scrollbar {
  height: 100px;
}

.table-filter::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
} */

/* table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

table {
  border-collapse: collapse;
} */
