.first-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-section-content {
  gap: 16px;
  display: flex;
  justify-content: space-between;
}

.nil-container {
  gap: 16px;
  width: 50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.nil-table {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

/* .table-filter::-webkit-scrollbar {
  height: 100px;
}

.table-filter::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
} */

/* table tr td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
}

table {
  border-collapse: collapse;
} */
